#apple {
    position:relative;
    top: 30px;
}
body {
    margin: 0;
    border: 85px solid rgb(150, 0, 0);
    width: 88%;
    height:1000px;
}
h1 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
p{
    position: relative;
    left: 10px;
    text-align: center;
    bottom: 50px;
}
#legendary {
    position:relative;
    left: 340px;
    bottom: 300px; 
}
#ate {
    position: relative;
    left: 930px; 
    bottom: 300px;
}