body {
    margin: 0;
    border: 85px solid rgb(150, 0, 0);
    width: 88%;
    height:1000px;
}

h1 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
sub {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
img {
    text-align: center;
}
a {
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 8px;  
}
#apple {
    position:relative;
    top: 50px;
}